@media screen and (min-width: 768px) and (max-width: 1023px) {
    .iframe-area {
        max-width: 766px;
        margin: 0 auto;
    }
    .home-iframe {
        background:none;
        min-height: 900px;
    }
    .home-iframe:after {
        content: '';
        background-image: url('../figma export/agent-website-iPad-vertical.png');
        background-size: cover;
        background-position: left top;
        display: block;
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
    }
    .home-iframe iframe {
        top: 105px;
        display: block;
        transform: none;
        max-width: 486px;
        left: 139px;
        min-height: 694px;
        z-index: 2;
        border-radius: 1rem;
    }
    a.market_update_button {
        color: #ffffff;
        text-decoration: none;
        font-size: 1.07rem;
        font-weight: 900;
        background: #FF7A01;
        border-radius: 5px;
        /* padding: 0 1rem; */
        line-height: 3rem;
        display: inline-block;
        /* width: 29.75rem; */
        margin-top: 1rem;
        text-align: center;
        width: 88%;
    }
    .market_update_searchbox {
        font-size: 1rem;
        /* width: 31rem; */
        border: none;
        height: 3.5rem;
        border-radius: 5px 0 0 5px;
        color: #9DBFAF;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        width: 90%;
    }
    .social_media h3 {
    font-size: 2.25rem;
    font-weight: 700;
    text-align: center;
}
}

@media (max-width: 991px) {
    .main-menu {
        display: none;
    }
    .main-menu.show-menu {
        display: block;
        position: absolute;
        top: 20px;
        background: #fff;
        /* width: 100%; */
        text-align: center;
        visibility: visible;
        right: 30px;
        padding: 0 40px;
    }
    .mobilemenu {
        display: block;
        position: absolute;
        top: -15px;
        right: 30px;
        z-index: 999;
    }
    button#menu-button {
        max-width: 40px;
    }
    .page_menu a {
        display: block;
    }
    .my_account span {
        display: none;
    }
    .hero_section {
        height: auto;
        padding-bottom: 80px;
    }
    .hero_featured_items {
        flex-direction: column;
        padding: 20px 50px;
    }
    .hero_item {
        padding: 30px;
        margin-bottom: 30px;
    }
    .marketing_section {
        height: auto;
        padding-bottom: 50px;
    }
    .marketing_features {
        flex-direction: column;
    }
    .market_update_wrap {
        display: block;
    }
    .social_media {
        margin-left: 30px;
    }
    .market_update {
        height: auto;
    }
}


@media screen and (max-width: 767px) {
    .iframe-area {
        width: 330px;
        margin: -80px auto 0;
    }
    .home-iframe {
        background: none;
        height: 608px;
    }
    .home-iframe:after {
        content: '';
        background-image: url('../figma export/agent-website-phone.png');
        background-size: cover;
        background-position: left top;
        display: block;
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
    }
    .home-iframe iframe {
        top: 57px;
        display: block;
        transform: none;
        max-width: 256px;
        left: 59px;
        height: 459px;
        z-index: 2;
        border-radius: 3px;
    }
    .inner {
        display: block;
    }
    .order_postcard {
        padding-bottom: 25px;
        height: auto;
    }
    .footer_items {
        display: block;
    }
    .footer_item1 {
        padding-top: 10px;
        max-width: 320px;
        margin: 0 auto 20px;
    }
}