body {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}

/* PRESET CLASSES */
.container {
    max-width: 1170px;
    margin: 0 auto;
}

.clearfix::after {
    display: block;
    clear: both;
    content: "";
}

.fleft {
    float: left;
}
.fright {
    float: right;
}
ul.list-inline {
    list-style: none;
    padding: 0;
    margin: 0;
}
ul.list-inline li {
    display: inline-block;
}
.text-center {
    text-align: center;
}
.d-flex {
    display: flex;
    flex-direction: row;
}
.flex-col {
    flex: 1;
}

/* MAIN CSS */
.header-area {
    background-image: url('images/hero.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 70px;
    
}
.main-nav-section {
    padding: 30px 50px;
}
.promo-services {
    color: #466369;
}
.header-bottom {
    font-size: 20px;
    font-weight: 600;
    color: white;
    
}
h4{
    filter: drop-shadow(12px 12px 8px #000000);
}
.iframe-area {
    margin-top: -50px;
}
.home-iframe {
    background-image: url('images/agent-website-laptop.png');
    width: 1033px;
    height: 606px;
    margin: 0 auto;
    position: relative;
    margin-bottom: 90px;
}
.home-iframe iframe {
    position: absolute;
    top: -47px;
    left: 1px;
    display: block;
    transform: scale(.76);
}
.list-inline li a {
    text-decoration: none;
    color: #466369;
    font-weight: 600;
}
.service-header {
    font-size: 35px;
    font-weight: 600;
    color: #466369;
}
.service-img{
    padding: 15px;
    filter: drop-shadow(12px 12px 8px #000000);
}
.service-img img{
    width: 100%;
}
.service-body{
    text-align: center;    
}
.service-body a {
    display: block;
    padding: 8px 55px;
    border: 1px solid #f47a20;
    background: #f47a20;
    color: #ffffff;
    text-decoration: none;
    font-weight: 900;
    border-radius: 5px;
    font-size: 17px;
    max-width: 200px;
    margin: 0 auto;
}
.service-body a:hover{
    text-shadow:1px 1px 4px rgba(0,0,0,.5);
    background:#fff;
    border:1px solid #f47a20;
    border-color:#f47a20;
    color:#f47a20;
}
h3 {
    font-size: 20px;
    font-weight: 600;
}
img.downarrow {
    width: 28px;
    margin-bottom: 45px;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation: bouncing-arrow-animation 1.8s ease-in-out infinite;
    animation: bouncing-arrow-animation 1.8s ease-in-out infinite;
}
@-webkit-keyframes bouncing-arrow-animation{
    0%{
        -webkit-transform:translateY(0);
        transform:translateY(0)
    }
    50%{
        -webkit-transform:translateY(18px);
        transform:translateY(18px)
    }100%{
        -webkit-transform:translateY(0);
        transform:translateY(0)
    }
}
@keyframes bouncing-arrow-animation{
    0%{
        -webkit-transform:translateY(0);
        transform:translateY(0)
    }
    50%{
        -webkit-transform:translateY(18px);
        transform:translateY(18px)
    }
    100%{
        -webkit-transform:translateY(0);
        transform:translateY(0)
    }
}

.header-search ul {
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-search ul li:first-child {
    padding-right: 15px;
}

/* Search Box */
.header-search {
    position: relative;
    margin-bottom: 18px;
}
.search {
    width: 100%;
    position: relative;
    display: flex;
  }
  
  .searchTerm {
    font-size: 20px;
    width: 100%;
    border: 3px solid #f47a20;
    border-right: none;
    padding: 5px;
    height: 40px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
}
  .searchTerm:focus{
    color: #00B4CC;
  }
  
  .searchButton {
    width: 65px;
    height: 56px;
    border: 1px solid #f47a20;
    background: #f47a20;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}
  
  /*Resize the wrap to see the search bar change!*/
  .wrap{
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .search-icon {
    filter: brightness(0) invert(1);
    padding-top: 3px;
}
.live-demo{
    text-align: center;
}
.live-demo a {
    display: block;
    padding: 9px 11px;
    border: 1px solid #dfe4ee;
    background: #006dc7;
    color: #ffffff;
    text-decoration: none;
    font-weight: 900;
    border-radius: 5px;
    font-size: 17px;
    max-width: 96px;
    margin: 0 auto;
}
.live-demo a:hover {
    background: #0286f2;
    transition: 0.6s;
    -webkit-transition: .6s;
}
.share-content-area{
    margin-top: 50px;
    background-image: url('images/form-section-hero2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 70px; 
}
.share-content-header {
    padding-top: 84px;
    color: white;
}
.form-area {
    text-align: center;
}
.from-nav {
    display: flex;
    flex-direction: row;
    padding: 0 413px;
}
.select-option a {
    display: block;
    padding: 9px 6px;
    border: 1px solid #006dc7;
    background: #006dc7;
    color: #ffffff;
    text-decoration: none;
    font-weight: 900;
    border-radius: 5px;
    font-size: 17px;
    max-width: 144px;
    margin: 0 auto;
}
.select-option a:hover {
    background: #0286f2;
    transition: 0.6s;
    -webkit-transition: .6s;
}
.get-link a{
    display: block;
    padding: 9px 6px;
    border: 1px solid #006dc7;
    background: #006dc7;
    color: #ffffff;
    text-decoration: none;
    font-weight: 900;
    border-radius: 5px;
    font-size: 17px;
    max-width: 144px;
    margin: 0 auto;  
}
.get-link a:hover{
    background: #0286f2;
    transition: 0.6s;
    -webkit-transition: .6s;
}
.from-option-explanation p {
    color: white;
}
.form-section-search {
    position: relative;
    margin-bottom: 18px;
    padding-top: 100px;
}
.form-section-wrap{
    width: 34%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.form-section-searchTerm{
    font-size: 20px;
    width: 100%;
    border: 3px solid #f47a20;
    border-right: none;
    padding: 5px;
    height: 40px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
}
.form-section-searchButton{
    width: 65px;
    height: 56px;
    border: 1px solid #f47a20;
    background: #f47a20;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}
/* SLIDER CSS */
.mySlides {
    display: none;
    text-align:center;
    padding-top: 96px;
}
.mySlides img{
    max-width: 50%;
}

/* Slideshow container */
.slideshow-container {
    position: relative;
    margin: auto;
    background-color: #022C54;
    height: 800px;
}
.slider-cta {
    padding-top: 20px;
}
.slider-cta a{
    display: block;
    padding: 9px 11px;
    border: 1px solid #006dc7;
    background: #006dc7;
    color: #ffffff;
    text-decoration: none;
    font-weight: 900;
    border-radius: 5px;
    font-size: 17px;
    max-width: 140px;
    margin: 0 auto;
}
.slider-cta a:hover {
    background: #0286f2;
    transition: 0.6s;
    -webkit-transition: .6s;
}


/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}
/*ACCORDINE */
.faq-mobile-featureheading {
    display: none;
}
.faq-dextop-featureheading {
    text-align: center;
    font-size: 30px;
    color: #466369;
}
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}
.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
}
.panel-lastinlist{border-bottom: 1px solid #eee;}
    #more {
        display: none;
        }
.accordion.grey {
    background-color: #ddd;
}
.accordion.grey {background-color: #ddd;}
    .active, .accordion:hover {
        background-color: #ccc;
    }
    .active{background-color: #ddd;border: 1px solid #b1aaaa;}
    
    .accordion:after {
        content: '\002B';
        color: #777;
        font-weight: bold;
        float: right;
        margin-left: 5px;
        font-size: 16px;
    }
    
    .active:after {
        content: "\2212";
    }
    .featureheading {
        text-align: center;
        font-size: 30px;
        color: #466369;
    }

.flex-col.connect img {
    width: 100px;
    height: 100px;
}
.contact-us {
    text-align: center;
    width: 900px;
    margin: 0 auto;
    margin-top: 70px;
    margin-bottom: 70px;
}
.d-flex .connect {
    column-gap: 51px;
    padding: 41px 0;
    box-shadow: 0 0 27px 0 rgb(22 36 47 / 50%);
}
.flex-col .connect {
    border: 1px solid;
}
.d-flex.connect {
    column-gap: 51px;
}
.contact-call-us h2 {
    font-weight: 100;
    font-size: 30px;
    color: darkblue;
}
.phone-number h3 {
    font-size: 17px;
    color: darkblue;
    font-weight: 500;
}
.foter-text a {
    text-decoration: none;
}
.footer-area {
    margin: 0 auto;
    margin-top: 70px;
}
.phone-number h3 a {
    text-decoration: none;
    color: darkblue;
}