body {
    margin: 0;
    padding: 0;
    font-style: normal;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}
*, ::after, ::before {
    box-sizing: border-box;
}
.container {
    max-width: 768px;
    margin: 0 auto;
}
h3{
    font-size: 13px;
    color: darkgray;
}
h2{
    font-size: 18px;
    color: #666666;
}
.bold-text{
    color: #000000;
}
.welcometext{
    width: 45%;
    float: left;
    
}
.welcometext-p{
    font-size: 15px;
    font-weight: 400;
}
.monitorscreen {
    width: 55%;
    float: right;
    margin-left: 0px;
    text-align: right;
    margin-top: 80px;
}
.monitor-image {
    max-width: 90%;
}
.item-list {
    font-size: 13px;
    float: left;
    margin-left: -33px;
}
.item-list ul{
    line-height: 23px;
}
.ebook-images {
    width: 50%;
    float: right;
    text-align: right;
}
.ebook-images img {
    width: 83%;
    margin-left: 44px;
}
button {
    font-size: 17px;
    font-weight: 600;
    color: white;
    padding: 8px 16px;
    border-radius: 5px;
    float: right;
    margin-right: 0px;
    background-color: blue;
    border: blue;
    margin-top: 1pc;
}
button:hover{
    background-color: coral;
}
ul {
    list-style: none;
    margin: 0;
}
.item-list ul li {
    padding-left: 22px;
    position: relative;
}
.item-list ul li:before {
    background-image: url('images/checkmark.png');
    content: '';
    width: 20px;
    height: 20px;
    display: block;
    background-size: 78%;
    position: absolute;
    left: 0;
    background-repeat: no-repeat;
    top: 1px;
    background-position: center;
}
.clearix {
    overflow: hidden;
    border: 1px solid #222;
    margin: 30px 0;
    padding: 15px;
}
.mobile-monitorscreen{
    display: none;
}
@media screen and (max-width: 767px){
    .monitorscreen{
        display: none;
    }
    .mobile-monitorscreen{
        display: block;
    }
    .welcometext{
        width: 100%;
    }
    h3{
        margin-left: 20px;
    }
    h2{
        margin-left: 20px;
    }
    .container{
        max-width: 414px;
    }
    .item-list{
        font-size: 15px;
    }
    .button{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .clearix{
        border-radius: 29px;
    }
    .top-part{
        padding: 10px;
    }
}